:root{
  /* Colors */
  --color-text: #666b6c; 
  --color-primary: #007bff; 
  --color-secondary: #e9ecef; 
  --color-dark: #495057; 
  --color-bg: #fff; 
     /*Fonts*/
     --font-roboto: "roboto";

}


